<h1><%=$game.current_victim.name%> has attacked <%=$game.attacker.name%>!</h1>

<h1><%=$game.attacker.name%>'s HP has reduced by 10!</h1>

<% if $game.current_victim.hit_points <=10 %>
<p><%=$game.current_victim.name%> wins</p>
<%end%>


<% if $game.current_victim.hit_points >=20 %>
<form action="/play">
  <input type="submit" value="go back to battle!">
</form>
<%end%>
